body {
    font-family: sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo {
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #4f46e5;
    padding: 10px 12px;
    border-radius: 6px;
  }
  .nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav-link {
    color: #6b7280;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #4f46e5; /* changes the color when we hover on it. */
  }
  .signup {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4f46e5;
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .signup-btn:hover {
    background-color: #4338ca;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 24px;
    max-width: 840px;
    margin: 0 auto; /* center horizontally only */
    /* padding-top:40px; */
  }
  .main-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 0;
  }
  .main-content p {
    margin-top: 16px; /*  the distance between the para tag and h1 tag */
    font-size: 18px;
    color: #4b5563;
    max-width: 768px;
  }
  .main-btn {
    display: flex;
    gap: 16px;
    margin-top: 32px; /* this adds space between the explore btn and para above it*/
  }
  .main-btn a {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  .main-btn a:hover {
    transform: scale(
      1.05
    ); /* button becomes slightly bigger when we hover on it. */
  }
  .start-btn {
    background-color: #4f46e5;
    color: white;
    border: none;
    text-decoration: none;
  }
  .explore-btn {
    background-color: white;
    color: #4b5563;
    border: 2px solid #d1d5db;
    text-decoration: none;
  }
  /* THIS IS CSS OF OUR FEATURES SECTION */
  
  .features-section {
    background-color: #fff; /* A white background to make it stand out. */
    padding: 64px 24px;
    text-align: center;
  }
  .features-section h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1f2937;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .features-grid {
    display: grid;
    /* This creates a layout with columns that automatically adjust. */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px; /* Space between each feature box. */
    max-width: 1100px;
    margin: 50px auto;
  }
  .feature-item {
    background-color: #f4f3f3;
    padding: 26px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .feature-item:hover {
    transform: translateY(-5px); /* Makes the box "lift up" when you hover. */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  .feature-icon {
    font-size: 48px; /* Makes the icon nice and big. */
    line-height: 1;
  }
  .feature-item h3 {
    font-size: 21px;
    font-weight: 600;
    color: #1f2937;
    margin-top: 36px;
    margin-bottom: 12px;
  }
  .feature-item p {
    color: #373b44;
    font-size: 16px;
  }
  
  /* THIS OUR CLASSES CSS  */
  .classes-section {
    text-align: center;
    padding: 40px 10px;
  }
  .classes-section h2 {
    font-size: 32px;
    font-weight: 700;
  }
  .classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 24px; /* Space between each box. */
    max-width: 1100px;
    margin: 0 auto;
  }
  .class-item {
    border-radius: 40px;
    background-color: #e7e9eb;
    padding: 30px;
  }
  .class-item h3 {
    font-size: 21px;
    font-weight: 600;
    color: #1f2937;
    margin-top: 9px;
    margin-bottom: 18px;
  }
  .class-item p {
    padding-top: 1px;
    padding-bottom: 24px;
  }
  .classes-btn {
    border: none;
    background-color: #4f46e5;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
  }
  .classes-btn:hover {
    transform: scale(1.05);
  }
  
  /* THIS IS OUR TRAINER CSS */
  .trainer-section {
    text-align: center;
    padding: 40px 10px;
    background-color: white;
  }
  .trainer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    max-width: 1500px;
    margin: 40px auto;
  }
  .trainer-info {
    border-radius: 40px;
    background-color: #e7e9eb;
    padding: 30px;
  }
  .trainer-section h2 {
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #1f2937;
  }
  .trainer-info h4 {
    font-size: 22px;
    font-weight: 600;
  }
  .trainer-info p {
    font-size: 16px;
  }
  
  /* THIS IS OUR ABOUT US SECTION */
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
    text-align: center;
    max-width: 1100px; /* this creates between image and its left side */
    margin: 0 auto;
  }
  .about-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 70px;
  }
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .about-image {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .about-image {
    margin-right: 72px; /* pushes text away */
  }
  .about-content {
    font-size: 20px;
    font-weight: 300;
  }
  /* THIS WILL TAKE FULL SCREEN  */
  .main-content,
  .features-section,
  .classes-section,
  .trainer-section,
  .about-section {
    min-height: 100vh; /* to take full screen height */
    display: flex; /* this is to center content */
    flex-direction: column;
    justify-content: center; /*this will centers content vertically */
    box-sizing: border-box;
  }
  